.vagrant.chef
chef-repo/.chef
code
ANSIBLE
chef-repo/cookbooks/apache/files/default/n3000-uk9-kickstart.6.0.2.U3.1.bin
chef-repo/cookbooks/apache/files/default/n3000-uk9.6.0.2.U3.1.bin
junos/
gns3/
id_dsa
ansible-vsrx-demo/
